<!DOCTYPE html>
<html lang="en">
<head>

	<title>Symetic Ing</title>
	<link rel="icon" href="images/logoTitle.png" type="image/icon type">
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
	
  

	<!-- stylesheet css -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="css/templatemo-style.css">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="scss/1.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/main.css">

	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

	<%- include('partials/nav', {user: user, opt: 'home'}); %>	
  
<!-- home section -->
<div id="home">
	
	<div class="container">
		
		
		
		<div class="containerButton">
				<a class="button btn-hover color-1" href="#popup">Expertise Disciplines</a>
				<div class="popup" id="popup">
				  <div class="popup-inner">
					
					<div class="popuptext">
					  <p><strong>Project</strong></p>
					  <p>Planning - Contract - Document control - Project monitoring - Cost control - QHSE - Risk management - Process.</p>
					  <p><strong>Engineering</strong></p>
					  <p>Offshore operations - Onshore operations - Subsea - Electricity - Automation - Instrumentation - Civil - Processes - Materials - Mechanics - Equipment - Structures - Welding - Safety - Piping.</p>
					
					  <p><strong>Supply</strong></p>
					  <p>Purchasing – Inspection – Subcontractor – Transit – Shipping – Logistics.</p>
					
					  <p><strong>Achievement</strong></p>
					  <p>Site management - Supervision - Superintendence - Field engineering - HSE - QA/QC - Pre-commissioning - Commissioning - Start up - Maintenance - SSE.</p>
					
					</div>
					<a class="closepopup" href="#">X</a>
				  </div>
				</div>
			</div>


	
	</div>
</div> 



<!-- divider section -->
<div class="w3-container">


	
<div class="divider">
		<div class="row">
			<div class="col-md-3 col-sm-12">
				
				<div class="card">
					<div class="card__inner">
						<div class="card__face card__face--front">
							<div class="divider-wrapper divider-one">
								<i class="fa fa-flash"></i>
								<h2>Energy</h2>
					<p id="chemical"><strong>- Chemical & Petrochemical</strong></p>
					<p id="renewable"><strong>- Renewable Energy</strong></p>
					<p id="oil"><strong>- Oil & Gas</strong></p>
					<p id="nuclear"><strong>- Nuclear</strong></p>
							</div> 
						</div>
						<div class="card__face card__face--back">
							<div class="card__content" id="green">
								<div class="card__header1">
									<i class="fa fa-flash"></i>
									<h2>Energy</h2>
								</div>
								<div class="card__body">
									<p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
								</div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
			
			<div class="col-md-3 col-sm-12">

				<div class="card">
					<div class="card__inner">
						<div class="card__face card__face--front">
							<div class="divider-wrapper divider-two">
								<i class="fa fa-recycle"></i>
								<h2>Environment</h2>
						<p id="footprint"><strong>- Environment Footprint</strong></p>
						<p id="water"><strong>- Water Treatment</strong></p>
						<p id="waste"><strong>- Waste Treatment</strong></p>
						<p><br></p>
							</div>
						</div>
						<div class="card__face card__face--back">
							<div class="card__content" id="blue">
								<div class="card__header2">	
									<i class="fa fa-recycle"></i>
									<h2>Environment</h2>
								</div>
								<div class="card__body">
									<p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-12">
				
				<div class="card">
					<div class="card__inner">
						<div class="card__face card__face--front">
							<div class="divider-wrapper divider-four">
								<i class="fa fa-laptop"></i>
								<h2>IT</h2>
						<p id="production"><strong>- Infrastructure Production</strong></p>
						<p id="cyber"><strong>- Cybersecurity</strong></p>
						<p id="informatic"><strong>- Informatic</strong></p>
						<p><br></p>
							</div>
						</div>
						<div class="card__face card__face--back">
							<div class="card__content" id="silver">
								<div class="card__header3">	
									<i class="fa fa-laptop"></i>
									<h2>IT</h2>
								</div>
								<div class="card__body">
									<p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-md-3 col-sm-12">
				
				<div class="card">
					<div class="card__inner">
						<div class="card__face card__face--front">
							<div class="divider-wrapper divider-three">
								<i class='fa fa-solid fa-helmet-safety'></i>
								<h2>Civil Infrastructure</h2>
					<p id="construction"><strong>- Construction</strong></p>
					<p id="building"><strong>- Building</strong></p>
					<p id="railway"><strong>- Railway</strong></p>
					<p id="naval"><strong>- Naval</strong></p>
							</div>
						</div>
						<div class="card__face card__face--back">
							<div class="card__content" id="orange">
								<div class="card__header">	
									<i class="fa fa-fire"></i>
									<h2>Industry</h2>
								</div>
								<div class="card__body">
									<p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur <strong>adipiscing</strong> elit. Sed id erat a magna lobortis dictum. Nunc est arcu, <strong>lacinia</strong> quis sapien placerat, <strong>laoreet</strong> tincidunt nulla.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>  
</div>  

<!-- about section -->
<div id="about">
	<div class="container">
		
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<img src="images/about-img.png" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12 about-des">
				<h2>Who are we...</h2>
				<p>Symetic Ing is a technical assistance company specialising on multisubject engineering services within energy and industry.
					We have chosen to focus on these sectors which we have a strong impact in our future.</p>
				<p>Major players trust us to manage and handle their projects in France and abroad.
					We support our clients in all phases of engineering projects, from the concept stage to implementation...</p>
				<a href="about.html" class="btn btn-default">LEARN MORE</a>
			</div>
		</div>
	</div>
</div>

<!-- portfolio section -->
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h2>Recent Projects</h2>
                
			</div>
         </div>
         
         <div class="row mt30">
            
			
  <div class="container1">
    <div id="carousel">
		<figure><img src="images/portfolio-1.png" alt=""></figure>
		<figure><img src="images/portfolio-img3.png" alt=""></figure>
		<figure><img src="images/portfolio-5.png" alt=""></figure>
		<figure><img src="images/portfolio-2.png" alt=""></figure>
		<figure><img src="images/portfolio-6.png" alt=""></figure>
		<figure><img src="images/portfolio-7.png" alt=""></figure>
		<figure><img src="images/portfolio-8.png" alt=""></figure>
		<figure><img src="images/portfolio-9.png" alt=""></figure>
		<figure><img src="images/portfolio-10.png" alt=""></figure>
    </div>
  </div>
	</div>
	</div>
</div>
<script src="./js/main.js"></script>
</body>
  

<!-- footer section -->
<%- include('partials/footer'); %>

<!-- javascript js -->	
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>	
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/custom.js"></script>

</body>

<style>
	.container1{
  margin: 4% auto;
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
}
#carousel{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}
#carousel:hover{
  animation-play-state: paused;
}
#carousel figure{
  display: block;
  position: absolute;
  width: 186px;
  height: 116px;
  left: 10px;
  top: 10px;
  background: black;
  overflow: hidden;
  border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img1{
  -webkit-filter: grayscale(1);
  cursor: pointer;
  transition: all .5s ease;
}
img1 :hover{
  -webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}




</style>
</html>